<div class="container">
	<div class="row">
		<div class="col-md-5 col-lg-4">
			<img src="imgs/photo2.jpeg" alt="photo">
		</div>
		<div class="col-md-7 col-lg-8">
			<h2>Biography</h2>
			<p>I am a senior undergraduate student at Peking University. I am pursuing a computer science or engineering degree. I worked under the supervision of Prof. <a href="http://net.pku.edu.cn/~yangtong/index.html">Tong Yang</a>, where I mainly focus on network big data and sketch algorithms. I've also done some projects about data visualization with Prof. <a href="http://www.ios.ac.cn/~shil/">Lei Shi</a>. Apart from academic experience, I have been an computer vision & deep learning research intern at <a href="https://megvii.com">Megvii(face++)</a>, where I researched on zero-shot learning and one-shot detection. </p>
			<p>Before that, I was a physical chemistry researcher advised by Prof. <a href="https://scholar.google.com/citations?user=IIaj7-AAAAAJ">Hailin Peng</a>, researching on 2D nanomaterials and its photoelectric properties. I have also worked as a summer research assistant at the University of Chicago with Prof. <a href="http://tianlab.uchicago.edu">Bozhi Tian</a>. </p>
			<h2>Contact</h2>
			<p>Email: <a href="mailto:huangyc96@gmail.com">huangyc96@gmail.com</a></p>
			<p>Github: <a href="https://github.com/Yuol96">Yuol96</a></p>
		</div>
	</div>
</div>